body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'candara', helvetica, sans-serif, arial;
}

.issamodal {
    display: block; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  .modalContent {
    background-color: navy;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    border-radius: 1%;
    box-shadow: 1px 1px 10px black;
  }

.modalHeadCont {
    
    color: white;
    padding: 10px 2px;
    width: inherit;
    position: relative;
    margin-right: 10px;
}

  @media screen and (max-width: 700px) {
    .modalContent {
        width: 200px;
      }
    }

.wrapper {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    background: dodgerblue;
    color: white;
    box-shadow: inset 1px 1px 20px -7px black;
}

.chatroom {
    grid-column: 2 / 6;
    grid-row: 1 / 6;
    display: grid;
    grid-template-rows: 90% 10%;
}

.chatArea {
    grid-row: 1 / 2;
    overflow-y: scroll;
}

.userChat {
    max-width: 100%;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 75px 50px;
    background: white;
    color: black;
    padding: 10px;
    word-wrap: break-word;
    border-bottom: 1px solid slategray;
}

.userImg {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.userChatName {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.userChatTime {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.userChatMessage {
    grid-column: 1 / 10;
    grid-row: 2 / 3;
}

.userInputArea {
    grid-row: 2 / 3;
    padding-bottom: 75px;
    width: 79.80%;
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
}

.userChatInp {
    position: absolute;
    bottom: 25px;
    right: 0;
    width: 98.43%;
    border: 1px solid gray;
    padding: 10px;
}

.submitChat {
    display: none;
    position: absolute;
    bottom: 15px;
    right: 0;
    padding: 10px;
    background: dodgerblue;
}

.userChat:hover {
    box-shadow: inset 1px 1px 10px lightgrey;
}

ul {
    list-style-type: none
}

.litty {
    padding: 5px;
    background: dodgerblue;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 10px;
}

.litty:hover {
    box-shadow: inset -1px -1px 5px white;
}

.channelmodal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

  .fas {
      cursor: pointer;
      margin-left: 10px;
  }
  .fas:hover {
      color: lightgrey;
  }